WCFTraining/WcfClient/Connected Services/myWcfReferences/SampleWcfLib.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SampleWcfLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SampleWcfLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactNo" type="xs:long" />
      <xs:element minOccurs="0" name="CstID" type="xs:int" />
      <xs:element minOccurs="0" name="Fees" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="Slot">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      <xs:element minOccurs="0" name="SlotUnits" type="xs:int" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TotalAmount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Slot" nillable="true" type="tns:Slot" />
  <xs:complexType name="ArrayOfSlot">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Slot" nillable="true" type="tns:Slot" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSlot" nillable="true" type="tns:ArrayOfSlot" />
  <xs:complexType name="ArrayOfCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer" nillable="true" type="tns:ArrayOfCustomer" />
</xs:schema>